<ion-view view-title="MenuHomes">
<ion-content has-subheader="false">
 <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Username</span>
    <input type="text" placeholder="User Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Password</span>
    <input type="password" placeholder="Password">
  </label>
 
  <br>
  <br>
  <button class="button button-balanced">Login</button>
</div>
</ion-content>
</ion-view>